.shop-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top:40px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 45px;
}
.card-container{
    background-color: #f3b250;
}
@media  screen and (max-width:1100px){
    .products-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
}
}
@media  screen and (max-width:1000px){
    .products-container{
        display: grid;
        grid-template-columns: 1fr;
}
}